.nice-select .list {
    max-height: 300px;
    overflow: scroll;
}

.select {
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 745px;
}

    /* Style the buttons inside the tab */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 103%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        font-size: 15px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #339aff4d;
        }

        /* Create an active/current "tab button" class */
        .tab button.active {
            background-color: #ffaab3;
        }

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}

.tabsubcontent {
    float: left;
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}

/* Clear floats after the tab */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*-----ShareHolder-----*/
#Shareholder {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #Shareholder td, #Shareholder th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #Shareholder tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #Shareholder tr:hover {
        background-color: #ddd;
    }

    #Shareholder th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #9cc7b9;
        color: white;
    }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        /*background-color: #3e8e41;*/
    }

.dropdown {
    float: left;
    position: relative;
    display: inline-block;
    width: 98%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/*-----News Paper Advertisements-----*/
#Advertisements {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #Advertisements td, #Advertisements th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #Advertisements tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #Advertisements tr:hover {
        background-color: #ddd;
    }

    #Advertisements th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #9cc7b9;
        color: white;
    }

.paging-nav {
    text-align: right;
    padding-top: 2px;
}

    .paging-nav a {
        margin: auto 1px;
        text-decoration: none;
        display: inline-block;
        padding: 1px 7px;
        background: #91b9e6;
        color: white;
        border-radius: 3px;
    }

    .paging-nav .selected-page {
        background: #187ed5;
        font-weight: bold;
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f3ebeb;
}
