
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_TranswarrantyMaster.cshtml";
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
                <span>We have over 20 years of experience</span>
            </div>
        </div>
    </div>
</div>

<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>our solid background on finance</span>
                                <h2>Get to know about <em>our company</em></h2>
                                <p>

                                    Transwarranty Finance Limited (Transwarranty) is a Mumbai (India) Head Quartered, full service Financial & Capital Market Services Company, providing a wide range of services to over 1,000 Large, Small and Medium companies and thousands of retail clients all over India, since 1994.
                                    <br><br>Transwarranty is a Reserve Bank of India (RBI) registered Non Banking Finance Company (NBFC) listed on both National Stock Exchange (NSE) and Bombay Stock Exchange (BSE), engaged in advisory services like Investment Banking, Corporate Finance, Project Finance, Trade Finance and providing Business & Retail Loans against collateral security of immovable property, liquid assets like shares, other financial assets, gold jewelry etc.
                                    <br><br>Transwarranty has fast expanding network of branches providing secured, business and retail loans. It is one of the few financial services companies, which is adept at structuring and executing advisory transactions as well as managing fund based business of providing business and retail loans.
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/img/about-image.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our team <em>members</em></h2>
                    <span>Suspendisse a ante in neque iaculis lacinia</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/img/Team1.jpg" alt="">
                    <div class="down-content">
                        <h4>Mr. Kumar Nair</h4>
                        <span>Managing Director</span>
                        <p>F.C.A and OPM (Harvard Business School), has over 25 years of experience in Financial Services, Capital Markets and Investment Banking. Previously, he used to be part of the startup core team in Kotak Mahindra Finance Limited (now Kotak Bank).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/img/Team2.jpg" alt="">
                    <div class="down-content">
                        <h4>Mr. U. Ramachandran</h4>
                        <span>Director & CFO</span>
                        <p>B.Com, FCA, has close to 3 decades experience in Finance, Accounting and Taxation.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/img/Team3.jpg" alt="">
                    <div class="down-content">
                        <h4>Mr. Pravin Khatau</h4>
                        <span>Independent Director</span>
                        <p>was a Senior Director in Goldman Sachs & Co., and Barings in London. He has done his Master in Business Administration from Wharton. Presently he is a private investor through his company LRM Holdings, Monaco.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/img/Team4.jpg" alt="">
                    <div class="down-content">
                        <h4>Mrs. Nirmala S. Parab</h4>
                        <span>Independent Director</span>
                        <p>B.Com., MBA, has over 10 years experience in project financing with IFCI Ltd.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/img/Team5.jpg" alt="">
                    <div class="down-content">
                        <h4>Mr. Sudharsanan Nair</h4>
                        <span>Independent Director</span>
                        <p>B.Com, Hons. from Bombay University, is ex banker and promoter of Intellivisions Software Ltd.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-item">
                    <img src="~/img/Team6.jpg" alt="">
                    <div class="down-content">
                        <h4>Mr. Shishir Vasant Dalal</h4>
                        <span>Additional Independent Director</span>
                        <p>Mr. Shishir Dalal is a renowned and accomplished Fellow Chartered Accountant. He was the Senior Co- Founder Partner in Dalal & Shah Chartered Accountants, a renowned firm which had clients like Jain Irrigation Group, Bajaj Group, Kalyani, Kirloskar, Raymond, Century Textiles, Parle Bisleri which later became a network firm of PwC India and PwC Worldwide. He also sits as a Honorary Vice President in BCJ & Asha Parekh Research Hospital in Santacruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span></span>
                    <h2>Transwarranty <em>HIGHLIGHT</em></h2>
                    <br>Well established advisory business offering whole gamut of financial services including Investment Banking, Corporate Finance, Project Finance, Trade Finance etc. </br>
                    <br>Strong clientele that includes most of the large business groups in India and more than 1,000 mid cap companies across India. </br>
                    <br>Fast expanding branch network for providing secured business and retail loans.
                    <br>Board comprising of eminent legal & finance professionals with excellent Corporate Governance. </br>
                    <br>Managed by experienced professionals with strong transaction execution / structuring capabilities</br>
                    <br>Excellent relationship with most leading Banks / Institutions, Private Equity Funds, Mutual Funds and Asset Management Companies in India and Internationally. </br>
                    <br>Performance oriented culture with ethics & values and objective of being a socially relevant <br>company. </br>
                    <br>Add and create value for clients, investors, lenders, employees and society at large. </br>
                    <br>"LaunchPad", a dedicated platform for SME segment assisting entrepreneurs to scale up businesses. </br>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">500</div>
                            <div class="count-title">Corporate Clients</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">15000</div>
                            <div class="count-title">Clients</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">200</div>
                            <div class="count-title">Outlets</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">250</div>
                            <div class="count-title">Employees</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>LICENSE AND <em> REGISTRATION</em></h2>
                    <span></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="align-content-center">
                    <p>
                        Transwarranty Finance Limited is a RBI registered Non-Banking Finance Company<br>
                        Transwarranty Finance Limited is a FEDAI registered inter-bank foreign exchange broker<br>
                        Subsidiary company, Vertex Securities Limited is a SEBI registered Merchant Bank<br>
                        Vertex Securities Limited is a SEBI registered broker in MCX in the currency segment<br>
                        Vertex Securities Limited is a SEBI registered broker in BSE in the equity segment<br>
                        Vertex Securities Limited is a SEBI registered depository participant in NSDL<br>
                        Vertex Securities Limited is a SEBI registered broker in the multiple segments (cash & derivatives) and self-clearing member in NSE.
                    </p>

                </div>

            </div>
    </div>
</div>

