
@{
    ViewBag.Title = "InvestorRelations";
    Layout = "~/Views/Shared/_TranswarrantyMaster.cshtml";
}

<link href="~/Content/InvestorRelationsCSS.css" rel="stylesheet" />
<!---------->
<!--Scripts-->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Swal/sweetalert.min.js"></script>
<style>
    .show {
        display: block;
    }
</style>

<script>

        function AjaxCalls(ReportType, Pattern, Year, Period)
        {
            $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetFile_InvRelation", "Transwarranty")",
                    dataType: "json",
                    data: { ReportType: ReportType, Pattern: Pattern, Year: Year, Period: Period },
                    success: function (data) {
                        ////alert(JSON.stringify(data.lmodel));
                        //--- Year & Period values
                        if ((ReportType == "financial" && Pattern === 'transwarranty') || (ReportType == "financial" && Pattern === 'subcompany') || (ReportType == "shareholder" && Pattern === 'corporategovernance') || (ReportType == "shareholder" && Pattern === 'investorcomplaints') || (ReportType == "shareholder" && Pattern === 'shareholdingpattern'))
                        {
                            if (data.lmodel.length > 0) {

                                $.each(data.lmodel, function (index, value) {
                                    //x.style.display = "block";
                                    $("#DivShowPdf").css('display', 'flex');
                                    $('#Pdfviewer').val(value.Value);
                                    $('#Pdfviewer').attr('name', value.Value);

                                });
                            } else {

                                swal('No Details Found');
                                $("#DivShowPdf").css('display', 'none');
                            }
                        }
                        //--- Without parameter values
                        else if ((ReportType == "unclaimeddividend") || (ReportType == "policies")) {

                            if (data.lmodel.length > 0) {
                                $("#AdvertisementsTbl").css('display', 'inline-table');
                                var row = "";
                                var i = 1;
                                $.each(data.lmodel, function (index, value) {
                                    row += '<tr>';
                                    row += '<td style="text-align:left">' + i + '</td>';
                                    row += '<td class="' + value.ReportId + '" style="text-align:left">' + value.Value + '</td>';
                                    row += '<td style="text-align:left"><img id="' + value.Value + '" onclick="DownloadFile(' + i + ')" class="Shareholderdownload" style="cursor:pointer; border: none; width: 34px;" src="../img/InvDownloads.png"/></td>';
                                    row += '</tr>';
                                    $("#AdvertisementsTbl tbody").html(row);
                                    i = i + 1;
                                });
                            } else {

                                swal('No Details Found');
                                $("#AdvertisementsTbl").css('display', 'none');
                            }
                        }
                        //--- Year only values
                        else if ((ReportType == "annual" && Pattern === 'transwarranty') || (ReportType === 'annual' && Pattern === 'subcompany')) {
                            if (data.lmodel.length > 0) {

                                $.each(data.lmodel, function (index, value) {

                                    //x.style.display = "block";
                                    $("#DivARShowPdf").css('display', 'flex');
                                    $('#ARPdfviewer').val(value.Value);
                                    $('#ARPdfviewer').attr('name', value.Value);

                                });
                            } else {

                                swal('No Details Found');
                                $("#DivARShowPdf").css('display', 'none');
                            }
                        }
                        else if ((ReportType == "newspaperadvertisment") || (ReportType === 'stockexchange') || (ReportType === 'materialevents') || (ReportType == "AgmAndEgm") || (ReportType == "shareholder" && Pattern == "boardmeeting")) {
                            if (data.lmodel.length > 0) {

                                $("#AdvertisementsTbl").css('display', 'inline-table');
                                var row = "";
                                var i = 1;
                                $.each(data.lmodel, function (index, value) {
                                    row += '<tr>';
                                    row += '<td style="text-align:left">' + i + '</td>';
                                    row += '<td class="' + value.ReportId + '" style="text-align:left">' + value.Value + '</td>';
                                    row += '<td style="text-align:left"><img id="' + value.Value + '" onclick="DownloadFile(' + i + ')" class="Shareholderdownload" style="cursor:pointer; border: none; width: 34px;" src="../img/InvDownloads.png"/></td>';
                                    row += '</tr>';
                                    $("#AdvertisementsTbl tbody").html(row);
                                    i = i + 1;
                                });
                            } else {

                                swal('No Details Found');
                                $("#AdvertisementsTbl").css('display', 'none');
                            }
                        }

                    },

                    error: function (data) {
                        swal(JSON.stringify(response));
                    }
                });
            }
    $(document).ready(function () {

            document.getElementById("defaultOpen").click();
            $("#DivShowPdf").css('display', 'none');
            $("#DivARShowPdf").css('display', 'none');
            $("#ShareHolderTbl").css('display', 'none');
            $("#AdvertisementsTbl").css('display', 'none');
            $("#InvestorTbl").css('display', 'none');
            $("#CodeOfConduct").css('display', 'none');
            $("#InvContacts").css('display', 'none');
            $("#Composition").css('display', 'none');
            $("#AnnualRpt").css('display', 'none');
            $("#MultipleDiv").css('display', 'none');


            $("#BtnExchange").click(function () {
                $("#AdvertisementsTbl").css('display', 'none');
            });
            $("#BtnMaterial").click(function () {
                $("#AdvertisementsTbl").css('display', 'none');
            });
            $("#BtnNewspaper").click(function () {
                $("#AdvertisementsTbl").css('display', 'none');
            });
            $("#Btngeneral").click(function () {
                $("#AdvertisementsTbl").css('display', 'none');
            });
            $("#BtnBroad").click(function () {
                $("#AdvertisementsTbl").css('display', 'none');
            });
            $("#Btnunclaimed").click(function () {
                $('#AdvertisementsTbl').find('tbody').empty();
                var ReportType = "unclaimeddividend";
                var Pattern = "NA";
                var Year = "NA";
                var Period = "NA";
                AjaxCalls(ReportType, Pattern, Year, Period);
            });
            $("#Btnpolicies").click(function () {
                $('#AdvertisementsTbl').find('tbody').empty();
                var ReportType = "policies";
                var Pattern = "NA";
                var Year = "NA";
                var Period = "NA";
                AjaxCalls(ReportType, Pattern, Year, Period);
            });


    });
    function DownloadFile(index) {
        var result = $("#AdvertisementsTbl").find('tr:eq(' + index + ')').find('td:eq(1)').text();
        var ReportName = result.split('_')[0];
            var ReportType = result.split('_')[1];
        var Sub_cat = result.split('_')[2];
        var Year = $("#DdlAgmYear").val();

        window.location = '/Transwarranty/DownloadPdf?reportId=' + result + "&type=" + ReportType + "&subOption=" + Sub_cat + "&year=" + Year;
    }
    function Search() {

        var ReportType = $("#reportType_p").html();
        var AnReportType = $("#reportType_AR").html();
            var Pattern = "NA"
            if (ReportType === 'financial') {
                Pattern = 'transwarranty';
                ReportType = 'financial';
            }
            else if (ReportType === 'subcompany') {
                Pattern = ReportType;
                ReportType = 'financial';
            }
            else if (ReportType === 'corporategovernance') {
                Pattern = ReportType;
                ReportType = 'shareholder';
            }
            else if (ReportType === 'investorcomplaints') {
                Pattern = ReportType;
                ReportType = 'shareholder';
            }
            else if (ReportType === 'shareholdingpattern') {
                Pattern = ReportType;
                ReportType = 'shareholder';
            }
            else if (AnReportType === 'annualtranswarranty') {
                Pattern = ReportType;
                ReportType = 'annual';
            }
            else if (AnReportType === 'annualsubcompany') {
                Pattern = ReportType;
                ReportType = 'annual';
            }
            var Year = 'NA';
            var Period = 'NA';
            if ((ReportType === 'financial' && Pattern == 'transwarranty') || (ReportType === 'financial' && Pattern == 'subcompany') || (ReportType === 'shareholder' && Pattern === 'corporategovernance') || (ReportType === 'shareholder' && Pattern === 'investorcomplaints') || (ReportType === 'shareholder' && Pattern === 'shareholdingpattern')) {
                Year = $("#DdlYear").val();
                Period = $("#DdlQrtr").val();
            }
            else if (ReportType === 'annual' && Pattern == 'annualtranswarranty') {
                Pattern = "transwarranty";
                Year = $("#DdlARYear").val();
                Period = "NA";
            }
            else if (ReportType === 'annual' && Pattern == 'annualsubcompany') {
                Pattern = "subcompany";
                Year = $("#DdlARYear").val();
                Period = "NA";
            }
            AjaxCalls(ReportType, Pattern, Year, Period);
    }
    function downloadPDF() {
        var ReportType = $("#reportType_p").html();
        var ReportName = $("#Pdfviewer").val();
        window.location = '/Transwarranty/DownloadSinglePdf?ReportType=' + ReportType + "&ReportName=" + ReportName;
    }
    function downloadAnnualPDF() {
        var ReportType = $("#reportType_AR").html();
        var ReportName = $("#ARPdfviewer").val();
        window.location = '/Transwarranty/DownloadSinglePdf?ReportType=' + ReportType + "&ReportName=" + ReportName;
    }
    function SearchAgm() {
        var Type = $("#reportType_agm").html();

        if (Type == "general") {
            var ReportType = "AgmAndEgm";
            var Year = $("#DdlAgmYear").val();
            var Period = "NA";
            var Pattern = "NA";
        }
        else if (Type == "newspaperadvertisment") {
            var ReportType = "newspaperadvertisment";
            var Year = $("#DdlAgmYear").val();
            var Period = "NA";
            var Pattern = "NA";
        }
        else if (Type == "materialevents") {
            var ReportType = "materialevents";
            var Year = $("#DdlAgmYear").val();
            var Period = "NA";
            var Pattern = "NA";
        }
        else if (Type == "stockexchange") {
            var ReportType = "stockexchange";
            var Year = $("#DdlAgmYear").val();
            var Period = "NA";
            var Pattern = "NA";
        }
        else if (Type == "boardmeeting") {
            var ReportType = "shareholder";
            var Year = $("#DdlAgmYear").val();
            var Period = "NA";
            var Pattern = "boardmeeting";
        }
        AjaxCalls(ReportType, Pattern, Year, Period);
    }
</script>
<script>

    function displayDiv(reportType, hName) {

        $("#reportType_p").html(reportType);
        $("#report_head").html(hName);

        $("#reportType_np").html(reportType);
        $("#report_nphead").html(hName);

        $("#reportType_agm").html(reportType);
        $("#report_agmhead").html(hName);

        $("#reportType_cd").html(reportType);
        $("#report_cdhead").html(hName);

        $("#reportType_Inv").html(reportType);
        $("#report_Invhead").html(hName);

        $("#reportType_Com").html(reportType);
        $("#report_Comhead").html(hName);

        $("#reportType_AR").html(reportType);
        $("#report_AR").html(hName);

        if (reportType === 'financial' || reportType === 'subcompany' || reportType === 'corporategovernance' || reportType === 'investorcomplaints' || reportType === 'shareholdingpattern') {
            $("#DivShowPdf").css('display', 'none');
            $('#searchDiv').css('display', 'block');
            $("#Advertisements").css('display', 'none');
            $("#CodeOfConduct").css('display', 'none');
            $("#Composition").css('display', 'none');
            $("#AnnualRpt").css('display', 'none');
            $("#InvContacts").css('display', 'none');
            $("#MultipleDiv").css('display', 'none');
        }
        else if (reportType === 'unclaimeddividend' || reportType === 'policies') {
            $('#searchDiv').css('display', 'none');
            $("#CodeOfConduct").css('display', 'none');
            $("#InvContacts").css('display', 'none');
            $("#Composition").css('display', 'none');
            $("#AnnualRpt").css('display', 'none');
            $("#Advertisements").css('display', 'block');
            $("#MultipleDiv").css('display', 'none');
        }
        else if (reportType === 'annualtranswarranty' || reportType === 'annualsubcompany') {
            $("#DivShowPdf").css('display', 'none');
            $('#searchDiv').css('display', 'none');
            $("#Advertisements").css('display', 'none');
            $("#CodeOfConduct").css('display', 'none');
            $("#Composition").css('display', 'none');
            $("#AnnualRpt").css('display', 'block');
            $("#InvContacts").css('display', 'none');
            $("#MultipleDiv").css('display', 'none');
        }
        else if (reportType === 'general' || reportType === 'newspaperadvertisment' || reportType === 'materialevents' || reportType === 'stockexchange' || reportType === 'boardmeeting') {
            $("#DivShowPdf").css('display', 'none');
            $('#searchDiv').css('display', 'none');
            $("#Advertisements").css('display', 'none');
            $("#CodeOfConduct").css('display', 'none');
            $("#Composition").css('display', 'none');
            $("#AnnualRpt").css('display', 'none');
            $("#InvContacts").css('display', 'none');
            $("#MultipleDiv").css('display', 'block');
        }
        else if (reportType === 'investorcontact') {
            $("#DivShowPdf").css('display', 'none');
            $('#searchDiv').css('display', 'none');
            $("#Advertisements").css('display', 'none');
            $("#CodeOfConduct").css('display', 'none');
            $("#Composition").css('display', 'none');
            $("#AnnualRpt").css('display', 'none');
            $("#InvContacts").css('display', 'block');
            $("#MultipleDiv").css('display', 'none');
        }
        else if (reportType === 'composition') {
            $("#DivShowPdf").css('display', 'none');
            $('#searchDiv').css('display', 'none');
            $("#Advertisements").css('display', 'none');
            $("#CodeOfConduct").css('display', 'none');
            $("#InvContacts").css('display', 'none');
            $("#AnnualRpt").css('display', 'none');
            $("#Composition").css('display', 'block');
            $("#MultipleDiv").css('display', 'none');
        }
    }

    document.addEventListener("click", function (event) {
        // Loop over all the menus
        document.querySelectorAll(".dropdown-content").forEach(function (dd) {
            dd.classList.remove("show"); // Hide the menu
        });

        // If the clicked element was a button
        if (event.target.classList.contains('dropbtn')) {
            // Show just the menu that corresponds to the clicked button
            event.target.nextElementSibling.classList.toggle("show");
        }
    });
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<!----------->
<!-- Start Page Title Area -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Investor Relations</h1>
            </div>
        </div>
    </div>
</div>
<!--<div class="page-title-area item-bg2 jarallax" style="padding-top: 160px;" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <h2 style="color: #75bc00; font-weight:600;">Investor Relations</h2>
        </div>
    </div>
</div>-->
<!-- End Page Title Area -->
<!-- Start Pricing Area -->
<div class="more-info about-info">
    <section class="features-area ptb-70 bg-f6f4f8" tabindex="1" id="margin">

        <div class="container" style="margin-top:20px">

            <div class="row">
                <div class="col-md-8">

                    <!-- Search With Year & Period -->
                    <div id="searchDiv" style="width:100%" class="row visible">
                        <div class="col-md-12">
                            <div style="margin:30px; margin-top:20px; padding:0px 0px 14px 0px;">
                                <h3 id="report_head" style="font-size : 19px !important;">Financial Results</h3>
                                <p id="reportType_p" style="visibility:hidden"></p>
                            </div>
                            <div class="row">
                                <!--Dropdown-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" id="DdlYear" style="font-size:12px;">
                                            <option value="" selected="selected">Select Year</option>
                                            <option value="2010-11">2010-11</option>
                                            <option value="2011-12">2011-12</option>
                                            <option value="2012-13">2012-13</option>
                                            <option value="2013-14">2013-14</option>
                                            <option value="2014-15">2014-15</option>
                                            <option value="2015-16">2015-16</option>
                                            <option value="2016-17">2016-17</option>
                                            <option value="2017-18">2017-18</option>
                                            <option value="2018-19">2018-19</option>
                                            <option value="2019-20">2019-20</option>
                                            <option value="2020-21">2020-21</option>
                                            <option value="2021-22">2021-22</option>
                                            <option value="2022-23">2022-23</option>
                                            <option value="2023-24">2023-24</option>
                                            <option value="2024-25">2024-25</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <select class="form-control" id="DdlQrtr" style="font-size:12px;">
                                                <option value="" selected="selected">Select Period</option>
                                                <option value="QI">QI</option>
                                                <option value="QII">QII</option>
                                                <option value="QIII">QIII</option>
                                                <option value="QIV">QIV</option>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <!----------------->
                                <!--Search Button-->
                                <div class="col-md-4" style="text-align:center;">
                                    <button type="button" value="submit" class="btn btn-primary" id="Btnsearch" onclick="Search();" data-toggle="modal" data-target="#myModal">Search</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <!----------------->
                            </div>
                            <!--Div For Show PDF-->
                            <div id="DivShowPdf" class="row" style="margin-top:30px;padding-bottom:30px">
                                @*<div class="col-md-12">*@
                                <div class="col-md-8" style="text-align:center;padding-top:10px;">
                                    <input type="text" id="Pdfviewer" class="form-control" style="height: 30px; width: 115%;" disabled="disabled">
                                </div>
                                <div class="col-md-4" style="text-align:center;padding-top:10px">
                                    <button type="submit" id="DownloadFile" class="btn btn-primary" onclick="downloadPDF();" style="height: 30px; padding: 8px;">Download File</button>
                                </div>
                                @* </div> *@
                            </div>
                            <!-------------------->
                        </div>
                    </div>
                    <!------------------------------->
                    <!--- Search With Year --->
                    <div id="AnnualRpt" style="width:100%" class="row visible">
                        <div class="col-md-12">
                            <div style="margin:30px; margin-top:20px; padding:0px 0px 14px 0px;">
                                <h3 id="report_AR" style="font-size : 19px !important;">Annual Report</h3>
                                <p id="reportType_AR" style="visibility:hidden"></p>
                            </div>
                            <div class="row">
                                <!--Dropdown-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" id="DdlARYear" style="font-size:12px;">
                                            <option value="" selected="selected">Select Year</option>
                                            <option value="2010-11">2010-11</option>
                                            <option value="2011-12">2011-12</option>
                                            <option value="2012-13">2012-13</option>
                                            <option value="2013-14">2013-14</option>
                                            <option value="2014-15">2014-15</option>
                                            <option value="2015-16">2015-16</option>
                                            <option value="2016-17">2016-17</option>
                                            <option value="2017-18">2017-18</option>
                                            <option value="2018-19">2018-19</option>
                                            <option value="2019-20">2019-20</option>
                                            <option value="2020-21">2020-21</option>
                                            <option value="2021-22">2021-22</option>
                                            <option value="2022-23">2022-23</option>
                                            <option value="2023-24">2023-24</option>
                                            <option value="2024-25">2024-25</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>


                                </div>
                                <!--Search Button-->
                                <div class="col-md-4" style="text-align:center;">
                                    <button type="button" value="submit" class="btn btn-primary" id="AnnualSrch" onclick="Search();" data-toggle="modal" data-target="#myModal">Search</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--Div For Show PDF-->
                            <div id="DivARShowPdf" class="row" style="margin-top:30px;padding-bottom:30px">
                                @*<div class="col-md-12">*@
                                <div class="col-md-8" style="text-align:center;padding-top:10px;">
                                    <input type="text" id="ARPdfviewer" class="form-control" style="height: 30px;" disabled="disabled">
                                </div>
                                <div class="col-md-4" style="text-align:center;padding-top:10px">
                                    <button type="submit" id="ARDownloadFile" class="btn btn-primary" onclick="downloadAnnualPDF();" style="height: 30px; padding: 8px;">Download File</button>
                                </div>
                                @* </div> *@
                            </div>
                            <!-------------------->
                        </div>
                    </div>
                    <!------------------------>
                    <!-- Search With Year and Show Multiple Datas -->
                    <div class="row">
                        <div id="MultipleDiv" class="col-md-12">
                            @*<div style="margin:30px; margin-top:20px; padding:0px 0px 14px 0px;">*@
                            <h3 id="report_agmhead" style="font-size : 19px !important;">AGM and EGM</h3>
                            <p id="reportType_agm" style="visibility:hidden"></p>
                            <div class="row">
                                <!--Dropdown-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" id="DdlAgmYear" style="font-size:12px;">
                                            <option value="" selected="selected">Select Year</option>
                                            <option value="2010-11">2010-11</option>
                                            <option value="2011-12">2011-12</option>
                                            <option value="2012-13">2012-13</option>
                                            <option value="2013-14">2013-14</option>
                                            <option value="2014-15">2014-15</option>
                                            <option value="2015-16">2015-16</option>
                                            <option value="2016-17">2016-17</option>
                                            <option value="2017-18">2017-18</option>
                                            <option value="2018-19">2018-19</option>
                                            <option value="2019-20">2019-20</option>
                                            <option value="2020-21">2020-21</option>
                                            <option value="2021-22">2021-22</option>
                                            <option value="2022-23">2022-23</option>
                                            <option value="2023-24">2023-24</option>
                                            <option value="2024-25">2024-25</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>


                                </div>
                                <!--Search Button-->
                                <div class="col-md-4" style="text-align:center;">
                                    <button type="button" value="submit" class="btn btn-primary" onclick="SearchAgm();" id="AgmSrch" data-toggle="modal" data-target="#myModal">Search</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="row" id="DivDatatable">
                                <div class="col-md-12">
                                    <!--Data Table-->
                                    <table id="AdvertisementsTbl" class="responsive-table" style=" width: 95%;">
                                        <thead>
                                            <tr>
                                                <th style="background-color: #9cc7b9; color: white;">SlNo</th>
                                                <th style="background-color: #9cc7b9; color: white;">Caption</th>
                                                <th style="background-color: #9cc7b9; color: white;">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <!------------->
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                    <!------------------------------->
                    <!-- Search Without Parameters -->
                    <div class="row">
                        <div id="Advertisements" class="col-md-12">
                            <div style="margin:30px; margin-top:20px; padding:0px 0px 14px 0px;">
                                <h3 id="report_nphead" style="font-size : 19px !important;">News Paper Advertisements</h3>
                                <p id="reportType_np" style="visibility:hidden"></p>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!--Data Table-->
                                    <table id="AdvertisementsTbl" class="responsive-table" style=" width: 95%;">
                                        <thead>
                                            <tr>
                                                <th>SlNo</th>
                                                <th>Caption</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <!------------->
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                    <!------------------------------->
                    <!-- Investor Contacts -->
                    <div class="row">
                        <div id="InvContacts" class="col-md-12">
                            <div style="margin:30px; margin-top:20px; padding:0px 0px 14px 0px;">
                                <h3 id="report_Invhead" style="font-size : 19px !important;">Investor Contacts</h3>
                                <p id="reportType_Inv" style="visibility:hidden"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-md-6 offset-md-3" style="text-align: center;">
                                                <h5 style="color: #75bc00;">Registered & Corporate Office</h5>
                                                <p>403, Regent Chambers, </p>
                                                <p>Nariman Point, </p>
                                                <p>Mumbai 400 021 </p>
                                                <p>Tel. No. 022-6630 6090</p>
                                                <p>Fax No. 022- 6630 6655</p>

                                                <h5 style="color: #75bc00;">Registrar & Share Transfer Agents (RTA)</h5>
                                                <p>Link Intime India Private Limited</p>
                                                <p>C 101, 247 Park, </p>
                                                <p>L. B.S. Marg, Vikhroli West, </p>
                                                <p>Mumbai 400 083</p>
                                                <p>Tel No: +92 22 49186000  Fax: +91 22 49186060</p>
                                                <p>Email: rnt.helpdesk@linkintime.co.in</p>

                                                <h5 style="color: #75bc00;">Nodal Officer for the IEPF Authority</h5>
                                                <p>Suhas Borgaonkar </p>
                                                <p>Nodal Officer (IEPF) </p>
                                                <p>Transwarranty Finance Limited, </p>
                                                <p>403, Regent Chambers, Nariman Point, </p>
                                                <p>Mumbai 400 021 </p>
                                                <p>Tel. No. 022-6630 6090,  Fax No. 022- 6630 6655 </p>
                                                <p>E-Mail: companysecretary@transwarranty.com </p>

                                                <h5 style="color: #75bc00;">Compliance Officer for Investor Grievances</h5>
                                                <p>Mr. Suhas Borgaonkar</p>

                                                <h5 style="color: #75bc00;">Contact Details:</h5>
                                                <p>Tel No:022 40010900 /66306090</p>

                                                <h5 style="color: #75bc00;">E-mail Id for Grievance Redressal:</h5>
                                                <p><a href="companysecretary@transwarranty.com">companysecretary@transwarranty.com</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------->
                    <!--Composition of Committees of Board-->
                    <div class="row">
                        <div id="Composition" class="col-md-12">
                            <div style="margin:30px; margin-top:20px; padding:0px 0px 14px 0px;">
                                <h3 id="report_Comhead" style="font-size : 19px !important;">Composition of Committees of Board</h3>
                                <p id="reportType_Com" style="visibility:hidden"></p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="conduct-sc scroll" style="width:715px;">
                                                    <div style="padding-bottom: 60px;">
                                                        <h4 style="font-size: x-large; font-weight: 500; text-align: center; color: #75bc00;">Audit Committee</h4>
                                                        <table class="table table-borderless">
                                                            <tr>
                                                                <th>Name of Directors</th>
                                                                <th>Category</th>
                                                                <th>Designation</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Mr. Sudharsanan Nair</td>
                                                                <td>Non-Executive and Independent</td>
                                                                <td>Chairman</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mr. Kumar Nair</td>
                                                                <td>Executive Director</td>
                                                                <td>Member</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mrs. Nirmala S. Parab</td>
                                                                <td>Non-Executive and Independent</td>
                                                                <td>Member</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div style="padding-bottom: 60px;">
                                                        <h4 style="font-size: x-large; font-weight: 500; text-align: center; color: #75bc00;">StakeHolders’ Relationship Committee</h4>
                                                        <table class="table table-borderless">
                                                            <tr>
                                                                <th>Name of Directors</th>
                                                                <th>Category</th>
                                                                <th>Designation</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Mr. Sudharsanan Nair</td>
                                                                <td>Non-Executive and Independent</td>
                                                                <td>Chairman</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mr. Kumar Nair</td>
                                                                <td>Executive Director</td>
                                                                <td>Member</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mrs. Nirmala S. Parab</td>
                                                                <td>Non-Executive and Independent</td>
                                                                <td>Member</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div style="padding-bottom: 60px;">
                                                        <h4 style="font-size: x-large; font-weight: 500; text-align: center; color: #75bc00;">Nomination, Remuneration And Compensation Committee</h4>
                                                        <table class="table table-borderless">
                                                            <tr>
                                                                <th>Name of Directors</th>
                                                                <th>Category</th>
                                                                <th>Designation</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Mrs. Nirmala S. Parab</td>
                                                                <td>Non-Executive and Independent</td>
                                                                <td>Chair Person</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mr. Kumar Nair</td>
                                                                <td>Executive Director</td>
                                                                <td>Member</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Mr. Sudharsanan Nair</td>
                                                                <td>Non-Executive and Independent</td>
                                                                <td>Member</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------------------------------->
                    @*<div class="row">
                            <div id="Conduct" class="tabcontent">
                                <div style="margin:30px; margin-top:20px; padding:0px 0px 14px 0px;">
                                    <h3 style="font-size : 19px !important;">Code of Conduct</h3>
                                </div>
                            </div>
                        </div>*@
                </div>
                <!--------------->
                <div class="col-md-4">
                    <div id="menu">
                        <div class="row">
                            <div class="col-lg-12" @*style="margin-left: 775px;*@ @*margin-top:-315px;*@>
                                <div class="tab">
                                    <ul class="pricing-features">
                                        <div class="dropdown">
                                            <button class="tablinks dropbtn" onclick="displayDiv('financial', 'Transwarranty Finance Ltd');" id="defaultOpen">Financial Results</button>
                                            <div id="FinDropdown" class="dropdown-content">
                                                <button id="BtnAnnualFin" class="tablinks" onclick="displayDiv('financial', 'Transwarranty Finance Ltd')">Transwarranty Finance Ltd</button>
                                                <button id="Btnfsubcompany" class="tablinks" onclick="displayDiv('subcompany', 'Subsidiary Companies')">Subsidiary Companies</button>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button id="BtnAnnual" class="tablinks dropbtn" onclick="displayDiv('annualtranswarranty', 'Transwarranty Finance Ltd');">Annual Report</button>
                                            <div id="AnDropdown" class="dropdown-content">
                                                <button id="BtnATrans" class="tablinks" onclick="displayDiv('annualtranswarranty', 'Transwarranty Finance Ltd')">Transwarranty Finance Ltd</button>
                                                <button id="BtnASub" class="tablinks" onclick="displayDiv('annualsubcompany', 'Subsidiary Companies')">Subsidiary Companies</button>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button id="Btngeneral" class="tablinks" onclick="displayDiv('general', 'AGM & EGM')">AGM & EGM</button>
                                        </div>
                                        <div class="dropdown">
                                            <button id="BtnShareholder" class="tablinks dropbtn" onclick="displayDiv('corporategovernance', 'Corporate Governance')">Shareholder Information</button>
                                            <div id="myDropdown" class="dropdown-content">
                                                <button id="BtnGovernance" class="tablinks" onclick="displayDiv('corporategovernance', 'Corporate Governance')">Corporate Governance</button>
                                                <button id="BtnInvestor" class="tablinks" onclick="displayDiv('investorcomplaints', 'Investor Complaints')">Investor Complaints</button>
                                                <button id="BtnSHpattern" class="tablinks" onclick="displayDiv('shareholdingpattern', 'Shareholding Pattern')">Shareholding Pattern</button>
                                                <button id="BtnBroad" class="tablinks" onclick="displayDiv('boardmeeting', 'Board Meeting')">Board Meeting</button>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button id="BtnExchange" class="tablinks" onclick="displayDiv('stockexchange', 'Other Filings with Stock Exchanges')">Other Filings with Stock Exchanges</button>
                                            <button id="BtnMaterial" class="tablinks" onclick="displayDiv('materialevents', 'Material Events')">Material Events</button>
                                            <button id="BtnNewspaper" class="tablinks" onclick="displayDiv('newspaperadvertisment', 'Newspaper Advertisement')">Newspaper Advertisement</button>
                                            <button id="Btnunclaimed" class="tablinks" onclick="displayDiv('unclaimeddividend', 'Unclaimed Dividend')">Unclaimed Dividend</button>
                                            <button id="Btnpolicies" class="tablinks" onclick="displayDiv('policies', 'Policies')">Policies</button>
                                            <button id="Btncommittees" class="tablinks" onclick="displayDiv('composition', 'Composition of Committees')">Composition of Committees</button>
                                            <button id="Btninvestor" class="tablinks" onclick="displayDiv('investorcontact', 'Investor Contact')">Investor Contact</button>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>


