@{
    ViewBag.Title = "Privacy_Policy";
    Layout = "~/Views/Shared/_TranswarrantyMaster.cshtml";
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Privacy Policy</h1>

            </div>
        </div>
    </div>
</div>

<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <p>
                                    You agree and understand that the information and material contained in this website implies and constitutes your consent to the terms and conditions mentioned below. You also agree that Transwarranty Finance Limited can modify or alter the terms and conditions of the use of this service without any liability.
                                    <br /><br />The content of the site and the interpretation of data are solely the personal views of the contributors. Transwarranty Finance Limited reserves the right to make modifications and alterations to the content of the website. Users are advised to use the data for the purpose of information only and rely on their own judgement while making investment decisions. The investments discussed or recommended may not be suitable for all investors. Transwarranty Finance Limiteddoes not warranty the timeliness, accuracy or quality of the electronic content.
                                    <br /><br />The content of the website cannot be copied, reproduced, republished, uploaded, posted, transmitted or distributed for any non-personal use without obtaining prior permission from Transwarranty Finance Limited.
                                    <br /><br />Transwarranty Finance Limited and its owners/affiliates are not liable for damages caused by any performance, failure of performance, error, omission, interruption, deletion, defect, delay in transmission or operations, computer virus, communications line failure, and unauthorized access to the personal accounts. Transwarranty Finance Limited is not responsible for any technical failure or malfunctioning of the software or delays of any kind. We are also not responsible for non-receipt of registration details or e-mails.
                                    <br /><br />Transwarranty Finance Limited is not responsible for the content of any of the linked sites. By providing access to other web-sites, Transwarranty Finance Limited is neither recommending nor endorsing the content available in the linked websites.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/img/about-image.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
