@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_TranswarrantyMaster.cshtml";
}

<!-- Page Content Arun-->

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Services</h1>
                <span>We are over 20 years of experience</span>
            </div>
        </div>
    </div>
</div>

<div class="single-services">
    <div class="container">
        <div class="row" id="tabs">
            <div class="col-md-4">
                <ul>
                    <li><a href='#tabs-1'>Investment Banking <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-2'>Corporate Finance <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-3'>Trade Finance <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-4'>SME <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-5'>MARGIN FUNDING/LAS <i class="fa fa-angle-right"></i></a></li>
                    <li><a href='#tabs-6'>PERSONAL FINANCE <i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <section class='tabs-content'>
                    <article id='tabs-1'>
                        <img src="~/img/single_service_01.jpg" alt="">
                        <h4>Investment Banking</h4>
                        <h6>Assisting entrepreneurs raise growth capital at various stages of the business lifecylce</h6><br />
                        <p>
                            Our Investment Banking division provides innovative and customized financial advisory service for emerging corporate and entrepreneurs at various stages of their business lifecycle<br>
                            Our core focus lies in Private Equity Syndication, Mergers & Acquisitions, Restructurings & Structured Funding.<br>
                            Backed by a dedicated team of experts with domain expertise and leveraging our strong relationship and network with private equity & venture funds (Domestic/ International), we are able to advise our clients by efficiently structuring their funding requirements at various stages of their business lifecycle , thereby creating long term value for our clients.
                        </p>
                    </article>
                    <article id='tabs-2'>
                        <img src="~/img/single_service_02.jpg" alt="">
                        <h4>Corporate Finance</h4>
                        <h6>Advices, structures & arranges debt for corporate</h6><br />
                        <p>
                            Corporate Finance experts provide comprehensive financial advice and execution expertise to the corporates to raise External Commercial Borrowings (ECB’s), Rupee Term Loan, Working Capital Finance (Fund Based & Non-Fund Based), Project Finance, Structured Finance through Banks, FI’s, FPI’s, Credit Funds etc. Strong and long term relationship across the banking sector, NBFC’s, and various funds helps us for on time solutions.<br /> <br />
                            We have satisfied client base of more than 500+ SME’s and Large corporates. The division is professionally managed by experienced team of CA, CS & MBA’s.  Our team expertise extends across various industry verticals which enable us to give proper and speedy execution.
                        </p>
                    </article>
                    <article id='tabs-3'>
                        <img src="~/img/single_service_03.jpg" alt="">
                        <h4>Trade Finance</h4>
                        <h6>Assisting Corporate for their short term requirements</h6><br />
                        <h5>LC bills discounting</h5>
                        <p>
                            Transwarranty is one of the leading Financial Services Company in the Public Sector engaged in  Bills discounting backed by Letter of Credit catering to all types of customers  from SME to Large Corporates.<br /><br />
                        </p>
                        <h5>Clean Bills discounting</h5>
                        <p>
                            Transwarranty also acts as a bill broker for discounting Bills of Exchange accepted by good credit worthy Companies. Since these are unsecured transactions, our credit evaluation process becomes very important for Investors.<br /><br />
                        </p>
                        <h5>Factoring</h5>
                        <p>
                            Factoring is a way of getting finance without tangible collateral by assigning specific debtors in favour of the Factoring Company on open account term. The client obtains funding against invoices immediately from the factor, usually up to 80% of value of the invoice. This improves cash flow of the Company. Factoring not only finances but also offers collection and sales ledger administration, credit protection and advisory services.<br /><br />
                        </p>
                        <h5>Inter Corporate Deposits</h5>
                        <p>
                            Transwarranty is one of the principal market makers for Inter Corporate Deposits. This is a large volume business and requires very quick response to move funds from companies with surplus to companies requiring funds. The period of deposit varies from purely on call up to 180 days. In this area, we cater to a large number of Companies regularly and account for a major share of transacted volume of business in the market. Here again, since this is an unsecured product, we do complete due diligence before the proposal is sent to prospective lenders.<br /><br />
                        </p>
                        <h5>Loan Against Property</h5>
                        <p>
                            Transwarranty arranges raising of funds for companies who have unencumbered property to offer as security. Care has to be taken that the company has a good cash flow to match with the re-payment.<br /><br />
                        </p>
                        <h5>Loan Against Shares / Promoter Funding</h5>
                        <p>
                            Transwarranty arranges funds for good Corporates against pledge of shares. Since the security is only shares without other collateral, proper analysis is done to ensure that these companies have high market cap and good volume of trading.<br /><br />
                        </p>
                        <h5>Import and Export Finance (Supplier's / Buyer's Credit)</h5>
                        <p>
                            Transwarranty arranges buyer’s / supplier’s credit for financing import transactions including capital goods.
                            <br />• Pricing for Buyers’ Credit / Suppliers’ Credit is linked to LIBOR
                            <br />• The pricing will depend upon the value of Import, country from where the goods are imported, beneficiaries, LC opening Bank and the tenure.
                            <br />• By availing this facility, the importers save considerable interest cost.
                            <br />• RBI allows supplier credit / buyer credit for import of raw material up to 360 days and for capital goods up to 3 years from shipment date.
                            <br /> Transwarranty also arranges discounting of export bills backed by Letter of credit, and Export Factoring.<br /><br />
                        </p>
                        <h5>Pricing for Buyers’ Credit / Suppliers’ Credit is linked to LIBOR</h5>
                        <p>
                            The pricing will depend upon the value of Import, country from where the goods are imported, beneficiaries, LC opening Bank and the tenure.
                            By availing this facility, the importers save considerable interest cost.
                            RBI allows supplier credit / buyer credit for import of raw material up to 360 days and for capital goods up to 3 years from shipment date.

                            <br /><br />Transwarranty also arranges discounting of export bills backed by Letter of credit, and Export Factoring.
                        </p>


                    </article>
                    <article id='tabs-4'>
                        <img src="~/img/single_service_04.jpg" alt="">
                        <h4>SME</h4>
                        <h6>Smart solutions for small and medium business</h6><br />
                        <p>
                            SME finance is the funding of small and medium-sized enterprises, and represents a major function of the general business finance market – in which capital for different types of firms are supplied, acquired, and costed or priced.
                            <br><br>Loans which cater to the financial needs of the Small and Medium Enterprise (​SME) segment are known as SME loans.
                        </p>
                    </article>

                    <article id='tabs-5'>
                        <img src="~/img/single_service_01.jpg" alt="">
                        <h4>MARGIN FUNDING/ LOAN AGAINST SHARES</h4>
                        <h6>Provides Margin Funding to make the most of Investment Opportunities</h6><br />
                        <p>
                            Transwarranty Finance Limited presents Margin Trade Funding, which will enable our clients to buy shares by paying a part of the total value of the shares purchased and a loan will be provided for the balance amount.<br />
                        </p><br /><br />
                        <h5>Salient features of Margin Trade Funding</h5>
                        <p>
                            Margin funding allows the investors to take leverage positions in the Stock Market wherein clients must pay margin of 50% depending upon the scrips and rest is funded by TFL. To put it simply, in case of scrip’s prescribed for 50% margin, client pays cash margin of Rs.50,000/- and client can buy shares worth Rs.1,00,000/- with the balance Rs. 50,000/- being funded by TFL. Margin can be provided in cash as well as approved securities.
                            <br /><br />Scrips : Funding only against approved securities as per the list approved by the Transwarranty Finance Management from time to time.
                            <br /><br />Interest : Rate of interest will be 18% p.a. on the amount of funding availed for actual no of days.<br /><br />
                        </p>
                        <h5>Benefits</h5><br />
                        <p>
                            <ul>
                                <li>Corporate Action benefits of Bonus, Dividends, Split Shares, Rights Issue etc will continue to accrue to the borrower.</li>
                                <li>Any appreciation in the value of the Securities given as margin would automatically allow enhancement in drawing power.</li>
                                <li>Interest will be calculated on the amount utilized & the actual period for which it is utilized.</li>
                                <li>Clients can view their financial statements and holdings online.</li>
                            </ul>
                        </p><br /><br />
                        <h5>Risk Monitoring System </h5>
                        <p>
                            In case of shortfall in the margin the client has to follow the prescribed norms and replenish the short margin or else the shares would be liquidated to the extent of the shortfall.
                            <br />Documents Requirement<br />
                            <br />A) Individuals<br />
                            <br />Client has to open a bank account with Axis Bank Ltd. and Demat Account with Vertex Securities Ltd both under POA with us.
                            <br />Loan agreement to be duly filled up and signed therein.
                            <br />2 Copy of PAN card
                            <br />2 Copy of Aadhar Card
                            <br />2 Copy of Address Proof
                            <br />Three passport sized photographs
                            <br />Copy of latest ITRs/Salary Slip
                            <br />Cheque favoring “Transwarranty Finance Limited” for Rs 2000/- towards one time Loan documentation charges.
                            <br /><br />B) Corporate<br />
                            <br />All documents as mentioned in point no 1 to 8 in case of individuals are required. Additional documents to be collected in case of corporates are:
                            <br />Copy of Latest Annual report.
                            <br />Memorandum and Article of Association.
                            <br />List of directors.
                            <br />Photographs of all the directors.
                            <br />Board resolution on letter head of the company.
                            <br /><br />Kindly note that:
                            <br />All documents should be self attested
                            <br />All Photographs and signatures should match with the proof given
                            <br />Additional documents need to be submitted in case of any discrepancy is noticed
                            <br /><br />Company Overview<br />
                            <br />Transwarranty Finance Ltd is a RBI registered Non Banking Finance Company (NBFC) listed on NSE and BSE with an impeccable track record, since 1994. A well established advisory business offering a whole gamut of financial services including Investment banking, Corporate finance, Trade finance, SME Loans, & margin funding facility to its clients.<br /><br />
                        </p><br /><br />
                        <h5>To know in detail about margin funding:</h5>
                        <p>
                            Call:	Ms.Disha	022-4001 0909	Email : disha@transwarranty.com
                            <br />Mr. Anil Nambiar	022-4001 0920	Email : anambiar@transwarranty.com
                            <br />Mr. Haridas T.V.	022-4001 0918	Email : haridastv@transwarranty.com
                        </p>

                    </article>

                    <article id='tabs-6'>
                        <img src="~/img/single_service_02.jpg" alt="">
                        <h4>Personal Finance</h4>
                        <p>
                            Transwarranty provides Instant Personal Loans for <br />• HOLIDAY
                            <br />• EDUCATION
                            <br /> • OTHER SPECIFIED END USE
                            <br /><br />
                        </p>
                        <h5>TRANSWARRANTY ADVANTAGE</h5>
                        <p>
                            <br />• PAPERLESS APPROVAL OPTION
                            <br />• FAST SANCTION AND DISBURSAL
                            <br />• OUR HOLIDAY LOAN WILL MAKE YOUR DREAM COME TRUE OF TRAVELING ROUND THE WORLD.
                            <br />• OUR EDUCATION LOAN WILL HELP YOU FINANCE YOUR HIGHER STUDIES IN INDIA & ABROAD
                            <br />• OUR PERSONAL LOAN WILL HELP YOU TO MEET OTHER SPECIFIED USES
                        </p>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-partners owl-carousel">
                    <div class="partner-item">
                        <img src="assets/images/client-01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
