@{
    ViewBag.Title = "Terms_Condition";
    Layout = "~/Views/Shared/_TranswarrantyMaster.cshtml";
}

<!-- Page Content -->
<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Terms & Condition</h1>

            </div>
        </div>
    </div>
</div>

<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <p>
                                    By visiting or using this web site you completely agree with the following terms and conditions, which may be modified in the future and posted on this web site.
                                    <br /><br />The content made available in this web site is for informational purposes and free of any charge. Except for your personal use, the content from this site is not permitted to copy, modify, reproduce, resell and republish, without a formal approval from Transwarranty. Though our intention is to provide right and relevant information in this web site, we don't make any guarantee over the accuracy of the information, images, pictures, logos, documents, and names. We will not be liable for damage, if any, without limitation, caused by the use of this web site.
                                    <br /><br />Generally, the information available in this web site is property of Transwarranty except in places where source or owner of the content is mentioned. The trademarks and logos used in this web site are the properties of their respective owners.
                                    <br /><br />Transwarranty provides relevant information to the users through links to other web sites, where it does not have any control. Therefore, we cannot guarantee the content, pictures and others available in those web sites, which have links from Transwarranty.com.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="~/img/about-image.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

